<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kipmin.weatherbulletin">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/weather"
        android:supportsRtl="true"
        android:theme="@style/SwipeAppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6a8fb5a12dbfeaf5a0f41ff87ea40a8d" />

        <activity android:name="com.kipmin.weatherbulletin.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.kipmin.weatherbulletin.SelectCityActivity" />
        <activity android:name="com.kipmin.weatherbulletin.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>